<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

</body>
</html>
 <div class="row gutters">
						    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
							    <div class="card">
								    <div class="card-body">
		                                <div class="col-xl-4 col-lglg-4 col-md-4 col-sm-4 col-12">
								            <div class="form-group">
									            <label for="inputEmail">SPC控制图类型</label>
										        <select class="form-control ">
											       <option>Xbar-R</option>
										           <option>Xbar-S</option>
										           <option>P图</option>
										           <option>X-MR</option>
											       <option>C图</option>
											       <option>U图</option>
										       </select>
										      </div>
										   </div>
									 </div>
								</div>
							</div>
					    </div>