<!doctype html>
<html lang="zh-CN">
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<!-- Meta -->
		<meta name="description" content="Responsive Bootstrap4 Dashboard Template">
		<meta name="author" content="ParkerThemes">
		<link rel="shortcut icon" href="img/fav.png" />

		<!-- Title -->
		<title>仓储管理平台</title>


		<!-- *************
			************ Common Css Files *************
		************ -->
		<!-- Bootstrap css -->
		<link rel="stylesheet" href="css/bootstrap.min.css">
		<!-- Icomoon Font Icons css -->
		<link rel="stylesheet" href="fonts/style.css">
		<!-- Main css -->
		<link rel="stylesheet" href="css/main.css">

		<!-- *************
			************ Vendor Css Files *************
		************ -->
		<!-- Date picker -->
		<link rel="stylesheet" href="vendor/datepicker/css/classic.css" />
		<link rel="stylesheet" href="vendor/datepicker/css/classic.date.css" />

	</head>

	<body>
		
		<!-- Page wrapper start -->
		<div class="page-wrapper">
			
			<!-- Sidebar wrapper start -->
			<nav id="sidebar" class="sidebar-wrapper">

				<!-- Sidebar brand start  -->
				<div class="sidebar-brand">
					<a href="index.html" class="logo">仓储管理平台</a>
				</div>
				<!-- Sidebar brand end  -->
				
				<!-- Quick links start -->
				<div class="quick-links-container">
					<h6>快速链接</h6>
					<div class="quick-links">
						<a href="dashboard2.html" class="bg-info" data-toggle="tooltip" data-placement="top" title="" data-original-title="Sales">
							<i class="icon-line-graph"></i>
						</a>
						<a href="dashboard3.html" class="bg-info" data-toggle="tooltip" data-placement="top" title="" data-original-title="Reports">
							<i class="icon-triangle"></i>
						</a>
						<a href="widgets.html" class="bg-info" data-toggle="tooltip" data-placement="top" title="" data-original-title="Widgets">
							<i class="icon-layers2"></i>
						</a>
						<a href="graph-widgets.html" class="bg-info" data-toggle="tooltip" data-placement="top" title="" data-original-title="Graph Widgets">
							<i class="icon-pie-chart1"></i>
						</a>
						<a href="account-settings.html" class="bg-danger" data-toggle="tooltip" data-placement="top" title="" data-original-title="Settings">
							<i class="icon-settings1"></i>
						</a>
						<a href="login.html" class="bg-danger" data-toggle="tooltip" data-placement="top" title="" data-original-title="Logout">
							<i class="icon-power1"></i>
						</a>
					</div>
				</div>
				<!-- Quick links end -->

				<!-- Sidebar content start -->
				<div class="sidebar-content">

					<!-- sidebar menu start -->
					<div class="sidebar-menu">
						<ul>
							<li>
								<a href="index.html">
									<i class="icon-home2"></i>
									<span class="menu-text">主页看板</span>
								</a>
							</li>
							<li class="sidebar-dropdown">
								<a href="#">
									<i class="icon-layers2"></i>
									<span class="menu-text">储位管理</span>
								</a>
								<div class="sidebar-submenu">
									<ul>
										<li>
											<a href="storage-block.html">储位状态图</a>
										</li>
										<li>
											<a href="free-storage-block.html">空闲储位</a>
										</li>
									</ul>
								</div>
							</li>
							<li class="sidebar-dropdown">
								<a href="#">
									<i class="icon-archive"></i>
									<span class="menu-text">入库管理</span>
								</a>
								<div class="sidebar-submenu">
									<ul>
										<li>
											<a href="putInForm.html">填写入库单</a>
										</li>
										<li>
											<a href="lookUpPutInForm.html">入库记录查询</a>
										</li>
									</ul>
								</div>
							</li>
							<li class="sidebar-dropdown">
								<a href="#">
									<i class="icon-local_shipping"></i>
									<span class="menu-text">出库管理</span>
								</a>
								<div class="sidebar-submenu">
									<ul>
										<li>
											<a href="checkoutForm.html">填写出库单</a>
										</li>
										<li>
											<a href="lookUpCheckoutForm.html">出库记录查询</a>
										</li>
									</ul>
								</div>
							</li>
							<li class="sidebar-dropdown">
								<a href="#">
									<i class="icon-shopping-bag"></i>
									<span class="menu-text">退仓管理</span>
								</a>
								<div class="sidebar-submenu">
									<ul>
										<li>
											<a href="cancelShippingForm.html">填写退仓单</a>
										</li>
										<li>
											<a href="lookUpCancelShippingForm.html">退仓记录查询</a>
										</li>
									</ul>
								</div>
							</li>
							<li class="sidebar-dropdown">
								<a href="#">
									<i class="icon-local_mall"></i>
									<span class="menu-text">退货管理</span>
								</a>
								<div class="sidebar-submenu">
									<ul>
										<li>
											<a href="returnProductForm.html">填写退货单</a>
										</li>
										<li>
											<a href="lookUpReturnProductForm.html">退货记录查询</a>
										</li>
									</ul>
								</div>
							</li>
							<li class="sidebar-dropdown">
								<a href="#">
									<i class="icon-games"></i>
									<span class="menu-text">质量控制</span>
								</a>
								<div class="sidebar-submenu">
									<ul>
										<li>
											<a href="createMeasurePlan.html">创建测量计划</a>
										</li>
										<li>
											<a href="measureData.html">测量数据录入</a>
										</li>
										<li>
											<a href="createControlPlan.html">创建控制计划</a>
										</li>
										<li>
											<a href="controlGraph.html">控制图绘制</a>
										</li>
										<li>
											<a href="exceptionReport.html">查看异常报告</a>
										</li>
									</ul>
								</div>
							</li>
							<li class="sidebar-dropdown active">
								<a href="#">
									<i class="icon-flash"></i>
									<span class="menu-text">质量检查</span>
								</a>
								<div class="sidebar-submenu">
									<ul>
										<li>
											<a href="qualityForm.html">填写单据</a>
										</li>
										<li>
											<a href="lookUpQualityForm.html" class="current-page">查询记录</a>
										</li>
									</ul>
								</div>
							</li>
							<li class="sidebar-dropdown">
								<a href="#">
									<i class="icon-grid_on"></i>
									<span class="menu-text">业务报表</span>
								</a>
								<div class="sidebar-submenu">
									<ul>
										<li>
											<a href="warehouseStatistics.html">仓储统计</a>
										</li>
										<li>
											<a href="qualityStatistics.html">质量控制统计</a>
										</li>
									</ul>
								</div>
							</li>
							<li>
								<a href="../workshop/index.html">
									<i class="icon-corner-down-right"></i>
									<span class="menu-text">进入车间质量管理</span>
								</a>
							</li>
						</ul>
					</div>
					<!-- sidebar menu end -->

				</div>
				<!-- Sidebar content end -->
				
			</nav>
			<!-- Sidebar wrapper end -->

			<!-- Page content start  -->
			<div class="page-content">

				<!-- Header start -->
				<header class="header">
					<div class="toggle-btns">
						<a id="toggle-sidebar" href="#">
							<i class="icon-menu"></i>
						</a>
						<a id="pin-sidebar" href="#">
							<i class="icon-menu"></i>
						</a>
					</div>
					<div class="header-items">
						<!-- Custom search start -->
						<div class="custom-search">
							<input type="text" class="search-query" placeholder="Search here ...">
							<i class="icon-search1"></i>
						</div>
						<!-- Custom search end -->

						<!-- Header actions start -->
						<ul class="header-actions">
							<li class="dropdown d-none d-sm-block">
								<a href="#" id="notifications" data-toggle="dropdown" aria-haspopup="true">
									<i class="icon-calendar1"></i>
								</a>
								<div class="dropdown-menu dropdown-menu-right lrg" aria-labelledby="notifications">
									<div class="dropdown-menu-header">
										Events (10)
									</div>
									<ul class="header-notifications">
										<li>
											<a href="#">
												<div class="user-img away">
													<img src="img/user6.png" alt="User">
												</div>
												<div class="details">
													<div class="user-title">Abbott</div>
													<div class="noti-details">Membership has been ended.</div>
													<div class="noti-date">Oct 20, 07:30 pm</div>
												</div>
											</a>
										</li>
										<li>
											<a href="#">
												<div class="user-img busy">
													<img src="img/user13.png" alt="User">
												</div>
												<div class="details">
													<div class="user-title">Braxten</div>
													<div class="noti-details">Approved new design.</div>
													<div class="noti-date">Oct 10, 12:00 am</div>
												</div>
											</a>
										</li>
										<li>
											<a href="#">
												<div class="user-img online">
													<img src="img/user19.png" alt="User">
												</div>
												<div class="details">
													<div class="user-title">Larkyn</div>
													<div class="noti-details">Check out every table in detail.</div>
													<div class="noti-date">Oct 15, 04:00 pm</div>
												</div>
											</a>
										</li>
									</ul>
								</div>
							</li>
							<li class="dropdown d-none d-sm-block">
								<a href="#" id="notifications" data-toggle="dropdown" aria-haspopup="true">
									<i class="icon-star2"></i>
									<span class="count-label blue"></span>
								</a>
								<div class="dropdown-menu dropdown-menu-right lrg" aria-labelledby="notifications">
									<div class="dropdown-menu-header">
										Bookmarks (21)
									</div>
									<div class="customScroll5">
										<ul class="bookmarks p-3">
											<li>
												<a href="#">Bootstrap admin template</a>
											</li>
											<li>
												<a href="#">Images resources</a>
											</li>
											<li>
												<a href="#">Best admin templates 2020</a>
											</li>
											<li>
												<a href="#">Javascript libraries</a>
											</li>
											<li>
												<a href="#">Angular widgets</a>
											</li>
											<li>
												<a href="#">UX library</a>
											</li>
											<li>
												<a href="#">Bootstrap admin template</a>
											</li>
											<li>
												<a href="#">Images resources</a>
											</li>
											<li>
												<a href="#">Best admin templates 2020</a>
											</li>
											<li>
												<a href="#">Javascript libraries</a>
											</li>
											<li>
												<a href="#">Angular widgets</a>
											</li>
											<li>
												<a href="#">UX library</a>
											</li>
											<li>
												<a href="#">Bootstrap admin template</a>
											</li>
											<li>
												<a href="#">Images resources</a>
											</li>
											<li>
												<a href="#">Best admin templates 2020</a>
											</li>
											<li>
												<a href="#">Javascript libraries</a>
											</li>
											<li>
												<a href="#">Angular widgets</a>
											</li>
											<li>
												<a href="#">UX library</a>
											</li>
										</ul>
									</div>
								</div>
							</li>
							<li class="dropdown d-none d-sm-block">
								<a href="#" id="notifications" data-toggle="dropdown" aria-haspopup="true">
									<i class="icon-bell"></i>
									<span class="count-label"></span>
								</a>
								<div class="dropdown-menu dropdown-menu-right lrg" aria-labelledby="notifications">
									<div class="dropdown-menu-header">
										Notifications (40)
									</div>
									<ul class="header-notifications">
										<li>
											<a href="#">
												<div class="user-img away">
													<img src="img/user21.png" alt="User">
												</div>
												<div class="details">
													<div class="user-title">Abbott</div>
													<div class="noti-details">Membership has been ended.</div>
													<div class="noti-date">Oct 20, 07:30 pm</div>
												</div>
											</a>
										</li>
										<li>
											<a href="#">
												<div class="user-img busy">
													<img src="img/user10.png" alt="User">
												</div>
												<div class="details">
													<div class="user-title">Braxten</div>
													<div class="noti-details">Approved new design.</div>
													<div class="noti-date">Oct 10, 12:00 am</div>
												</div>
											</a>
										</li>
										<li>
											<a href="#">
												<div class="user-img online">
													<img src="img/user6.png" alt="User">
												</div>
												<div class="details">
													<div class="user-title">Larkyn</div>
													<div class="noti-details">Check out every table in detail.</div>
													<div class="noti-date">Oct 15, 04:00 pm</div>
												</div>
											</a>
										</li>
									</ul>
								</div>
							</li>
							<li class="dropdown user-settings">
								<a href="#" id="userSettings" data-toggle="dropdown" aria-haspopup="true">
									<img src="img/user2.png" class="user-avatar" alt="Avatar">
								</a>
								<div class="dropdown-menu dropdown-menu-right" aria-labelledby="userSettings">
									<div class="header-profile-actions">
										<div class="header-user-profile">
											<div class="header-user">
												<img src="img/user2.png" alt="Admin Template">
											</div>
											<h5>Yuki Hayashi</h5>
											<p>Super User</p>
										</div>
										<a href="user-profile.html"><i class="icon-user1"></i> My Profile</a>
										<a href="account-settings.html"><i class="icon-settings1"></i> Account Settings</a>
										<a href="login.html"><i class="icon-log-out1"></i> Sign Out</a>
									</div>
								</div>
							</li>
						</ul>						
						<!-- Header actions end -->
					</div>
				</header>
				<!-- Header end -->

				<!-- Main container start -->
				<div class="main-container">

					<!-- Page header start -->
					<div class="page-header">
						
						<!-- Breadcrumb start -->
						<ol class="breadcrumb">
							<li class="breadcrumb-item">入库记录查询</li>
						</ol>
						<!-- Breadcrumb end -->

					</div>
					<!-- Page header end -->
					
					<!-- Row start -->
					<div class="row gutters">
						<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
							<div class="card">
								<div class="card-header">
									<div class="card-title">按日期查询</div>
								</div>
								<div class="card-body">
									<div class="row gutters">
										<div class="col-xl-4 col-lglg-4 col-md-4 col-sm-4 col-12">
											<div class="form-group">
                                                <div class="input-group">
													<input type="text" name="" class="form-control datepicker" placeholder="选择日期">
													<div class="input-group-append">
														<button class="btn btn-primary" type="button" onclick="onLookUp()">查询</button>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
							<div class="card">
								<div class="card-header">
									<div class="card-title">按名称查询</div>
								</div>
								<div class="card-body">
									<div class="row gutters">
										<div class="col-xl-6 col-lglg-6 col-md-6 col-sm-12 col-12">
											<div class="form-group">
                                                <label for="inputGroupSelect06">按仓库查询</label>
												<div class="input-group">
													<select class="custom-select" id="inputGroupSelect06" aria-label="Example select with button addon">
														<option selected>选择仓库</option>
														<option value="1">仓库1</option>
														<option value="2">仓库2</option>
														<option value="3">仓库3</option>
													</select>
													<div class="input-group-append">
														<button class="btn btn-primary" type="button">查询</button>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="row gutters">
										<div class="col-xl-6 col-lglg-6 col-md-6 col-sm-12 col-12">
											<div class="form-group">
												<label for="inputGroupSelect06">按单据类型查询</label>
												<div class="input-group">
													<select class="custom-select" id="inputGroupSelect05" aria-label="Example select with button addon">
														<option selected>选择类型</option>
														<option value="1">损耗检查单</option>
														<option value="2">维修保养单</option>
														<option value="3">报废检查单</option>
													</select>
													<div class="input-group-append">
														<button class="btn btn-primary" type="button">查询</button>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div id="searchRes" class="row gutters" hidden>
						<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
							<div class="card">
								<div class="card-header">
									<div class="card-title">查询结果</div>
								</div>
								<div class="card-body">
									<div class="table-responsive">
										<table class="table m-0">
											<thead>
											<tr>
												<th>入库单编号</th>
												<th>供货商</th>
												<th>质检员</th>
												<th>保管员</th>
												<th>经手人</th>
												<th>主管</th>
												<th>会计</th>
												<th>入库日期</th>
											</tr>
											</thead>
											<tbody>
											<tr>
												<td>#00001</td>
												<td>Alia</td>
												<td>Willams</td>
												<td>Catherine</td>
												<td>Tambourine</td>
												<td>John</td>
												<td>Leo</td>
												<td>2020年12月1日</td>
											</tr>
											<tr>
												<td>#00002</td>
												<td>Alia</td>
												<td>Willams</td>
												<td>Catherine</td>
												<td>Tambourine</td>
												<td>John</td>
												<td>Leo</td>
												<td>2020年12月1日</td>
											</tr>
											<tr>
												<td>#00003</td>
												<td>Alia</td>
												<td>Willams</td>
												<td>Catherine</td>
												<td>Tambourine</td>
												<td>John</td>
												<td>Leo</td>
												<td>2020年12月1日</td>
											</tr>
											<tr>
												<td>#00004</td>
												<td>Alia</td>
												<td>Willams</td>
												<td>Catherine</td>
												<td>Tambourine</td>
												<td>John</td>
												<td>Leo</td>
												<td>2020年12月1日</td>
											</tr>
											<tr>
												<td>#00005</td>
												<td>Alia</td>
												<td>Willams</td>
												<td>Catherine</td>
												<td>Tambourine</td>
												<td>John</td>
												<td>Leo</td>
												<td>2020年12月1日</td>
											</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>
				<!-- Row end -->

				</div>
				<!-- Main container end -->

				<!-- Container fluid start -->
				<div class="container-fluid">
					<!-- Row start -->
					<div class="row gutters">
						<div class="col-12">
							<!-- Footer start -->
							<div class="footer">
								Copyright <a href="http://www.bootstrapmb.com">Tycoon</a> Admin 2020
							</div>
							<!-- Footer end -->
						</div>
					</div>
					<!-- Row end -->
				</div>
				<!-- Container fluid end -->

			</div>
			<!-- Page content end -->

		</div>
		<!-- Page wrapper end -->

		<!--**************************
			**************************
				**************************
							Required JavaScript Files
				**************************
			**************************
		**************************-->
		<!-- Required jQuery first, then Bootstrap Bundle JS -->
		<script src="js/jquery.min.js"></script>
		<script src="js/bootstrap.bundle.min.js"></script>
		<script src="js/moment.js"></script>


		<!-- *************
			************ Vendor Js Files *************
		************* -->
		<!-- Slimscroll JS -->
		<script src="vendor/slimscroll/slimscroll.min.js"></script>
		<script src="vendor/slimscroll/custom-scrollbar.js"></script>
		<script src="vendor/custom/lookUpPutInForm.js"></script>

		<!-- Datepickers -->
		<script src="vendor/datepicker/js/picker.js"></script>
		<script src="vendor/datepicker/js/picker.date.js"></script>
		<script src="vendor/datepicker/js/custom-picker.js"></script>

		<!-- Main JS -->
		<script src="js/main.js"></script>

	</body>
</html>