<!doctype html>
<html lang="en">
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<!-- Meta -->
		<meta name="description" content="Responsive Bootstrap4 Dashboard Template">
		<meta name="author" content="ParkerThemes">
		<link rel="shortcut icon" href="workshop/img/fav.png" />

		<!-- Title -->
		<title>汽车零部件质量控制平台</title>
		
		<!-- *************
			************ Common Css Files *************
		************ -->
		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="workshop/css/bootstrap.min.css"/>

		<!-- Master CSS -->
		<link rel="stylesheet" href="workshop/css/main.css"/>

	</head>

	<body class="authentication">

		<!-- Container start -->
		<div class="container">
			
			<form action="workshop/index.html">
				<div class="row justify-content-md-center">
					<div class="col-xl-4 col-lg-5 col-md-6 col-sm-12">
						<div class="login-screen">
							<div class="login-box">
								<a href="#" class="login-logo">登录</a>
								<h5>欢迎来到汽车零部件质量控制平台，<br />请登录您的账户</h5>
								<div class="form-group">
									<input type="text" class="form-control" placeholder="账号" value="test0001"/>
								</div>
								<div class="form-group">
									<input type="password" class="form-control" placeholder="密码" value="123456"/>
								</div>
								<div class="actions mb-4">
									<div class="custom-control custom-checkbox">
										<input type="checkbox" class="custom-control-input" id="remember_pwd">
										<label class="custom-control-label" for="remember_pwd">记住我</label>
									</div>
									<a href="./workshop/index.html">
										<button type="submit" class="btn btn-success">登录</button>
									</a>
								</div>
								<div class="forgot-pwd">
									<a class="link" href="#">忘记密码？</a>
								</div>
								<hr>
								<div class="actions align-left">
									<a href="#" class="btn btn-info ml-0">创建账户</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</form>

		</div>
		<!-- Container end -->

	</body>
</html>